.label-badge {
    font-size: 22px;
    min-height: 36px;
    letter-spacing: 3px;
    cursor: default;
}
.close-badge {
    font-size: 16px;
    margin-left: -4px;
    margin-right: 20px;
    cursor: pointer;
}
