{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}
{% block content %}
    <div class="container" style="background-color: #fcfcfc; padding-top: 20px; padding-bottom: 20px;">
        <div class="offset-1 col-10 my-1">
            <h3>
                {% block title %}
                    Keyword
                {% endblock %}
            </h3>
            {% include 'flash_message.html' %}
            {% for field, errors in keyword_form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ keyword_form[field].label.text + ': ' + error }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="dropdown-divider"></div>
            {#                {{ wtf.quick_form(keyword_form) }}#}
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-12">
                    <form action="javascript:postNode()">
                        <div class="card-body row no-gutters align-items-center">
                            {{ keyword_form.hidden_tag() }}
                            <div class="col">
                                <input class="form-control form-control-borderless" type="text"
                                       id="keyword" name="keyword" placeholder="Keyword">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <input class="btn btn-success" id="submit" name="submit" type="submit" value="New">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Warning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You cannot delete the last keyword.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group" style="padding-top: 32px">
                {% for idx, word in enumerate_words -%}
                    <div class="my-2">
                    <span class="badge badge-pill label-badge {{ [
                    'badge-primary', 'badge-secondary', 'badge-success', 'badge-danger', 'badge-warning',
                     'badge-info'] | random }}">{{ word }}</span>
                        <a class="badge badge-pill badge-light close-badge" onclick="deleteNode(this)">X</a>
                    </div>
                {%- endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!--suppress JSValidateTypes -->
    <script>
        const badgeStyle = ['badge-primary', 'badge-secondary', 'badge-success', 'badge-danger',
            'badge-warning', 'badge-info'];

        function deleteNode(node) {
            const len = $(".input-group").children().length;
            if (len === 1) {
                $("#modal").modal('show');
                return;
            }
            $.ajax({
                url: "/keyword/" + $(node).prev().text().toString(),
                method: "DELETE",
                success: function () {
                    $(node).parent().remove();
                }
            });
        }

        function postNode() {
            const word = $("form div div input").val();
            $.ajax({
                url: "/keyword/" + word,
                method: "POST",
                success: function (data) {
                    if (data === "err") {
                    } else {
                        let $node = $(".input-group div:eq(0)").clone(true);
                        $node.children('span').removeClass(function () {
                            return $(this).attr("class");
                        }).addClass("badge badge-pill label-badge").addClass(badgeStyle[Math.floor(Math.random() * badgeStyle.length)]);
                        $(".input-group").append($node);
                        $node.children('span').text(word);
                    }
                }
            })
        }
    </script>
{% endblock %}
