{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="container" style="background-color: #fcfcfc; padding-top: 20px; padding-bottom: 20px;">
        <div class="offset-2 col-8 my-3">
            <h3 style="padding-bottom: 24px">
                {% block title %}
                    Login
                {% endblock %}
            </h3>
            <div class="dropdown-divider"></div>
            {% include 'flash_message.html' %}
            {% for field, errors in login_form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ login_form[field].label.text + ': ' + error }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ wtf.quick_form(login_form) }}
            <div class="dropdown-divider" style="margin-top: 16px"></div>
            <div class="row justify-content-sm-between">
                <a href="{{ url_for('default.signup') }}"
                   class="btn btn-outline-success btn-sm col-2" role="button">Signup</a>
                <a href="#" class="btn btn-outline-danger btn-sm col-3" role="button">Forget password?</a>
            </div>
        </div>
    </div>
{% endblock %}
